@font-face {
        font-family: Garamond-Serif;
        src: url(Fonts/EBGaramond-Regular.ttf);
}

@font-face {
        font-family: Garamond-Bold;
        src: url(Fonts/EBGaramond-SemiBold.ttf);
}

@font-face {
        font-family: Garamond-Italic;
        src: url(Fonts/EBGaramond-Italic.ttf);
}

@font-face {
        font-family: Audi-Extended;
        src: url(Fonts/Audi/Extended-Bold.ttf);
}

@font-face {
        font-family: Audi-Regular;
        src: url(Fonts/Audi/Normal.ttf);
}

@font-face {
        font-family: Audi-Bold;
        src: url(Fonts/Audi/Bold.ttf);
}

@font-face {
        font-family: Audi-Italic;
        src: url(Fonts/Audi/Italic.ttf);
}

@font-face {
        font-family: Giant;
        src: url(Fonts/NFS.ttf);
}

:root {
	--bg: #F5F5F5;
	--fg: #FFFFFF; /*#FBEACF;*/
	/*--header-footer: linear-gradient(to bottom left, #C7AD7F 40%, #A57A5A);*/
	/*--header-footer: linear-gradient(to bottom left, #87CEEB 10%, #D8F2FF);*/
	--header-footer: linear-gradient(to bottom left, #404040 100%, #404040);
	/*--title: radial-gradient(#87CEEB, #404040 70%);*/
	--drop: #E8E8E8;
        --font: #000000;
        --font2: #96B9EE;
	/*--font-header-footer: #FFFFFF;*/
	--font-header-footer: #808080;
	/*--font-hover: #7F5539;*/
	--font-hover: #87CEEB;
	--link-trans: 0.25s;
	--dark-trans: 0.5s;
}

/* Preliminaries */

h1 {
	font-family: Audi-Extended;
	font-size: 22px;
	font-weight: normal;
	color: var(--font);
}

h2 {
	font-family: Audi-Extended;
	font-size: 18px;
	font-weight: normal;
	color: var(--font);
}

h3 {
	font-family: Audi-Extended;
	font-size: 16px;
	font-weight: normal;
	color: var(--font);
}

body {
	background-color: var(--bg);
	margin: 0;
	padding: 0;
}

b {
	font-family: Audi-Bold;
}

i {
	font-family: Audi-Italic;
}

small {
	font-size: 10px;
}

/* Header */

.header {
        background-image: var(--header-footer);
	height: 150px;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
        padding: 0 12.5% 0 12.5%;
}

        .title {
                float: left;
                line-height: 15px;
		margin: 30px 0 0 0;
        }

		.title h1 {
			font-family: Giant;
			font-size: 24px;
			text-shadow: 0 0 10px rgba(135, 206, 235, 0.5);
			margin: 0.25em 0 0 0;
			padding: 0;
                }

		.title img {
			max-width: 250px;
			-webkit-filter: drop-shadow(0 0 5px rgba(135, 206, 235, 0.5));
		}

	.navigation {
		font-family: Giant;
		text-align: right;
                word-spacing: 15px;
		padding: 3.75em 0 0 0;
	}

		.pages-drop {
        		display: inline-block;
        		position: auto;
			margin: 0;
		        padding: 0;
		}

			.pages-drop p {
				margin: 0;
                                transition: color var(--link-trans);
			}

			.pages-drop p:hover {
				color: var(--font-hover);
				cursor: pointer;
                                transition: color var(--link-trans);
			}

			.pages-drop:hover .pages-drop-cont {
			        display: block;
			}

			.pages-drop-cont {
				font-size: 14px;
				text-align: left;
				line-height: 25px;
				background-image: var(--header-footer);
				box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5);
				display: none;
        			position: fixed;
        			margin: 0;
        			padding: 1em;
			}

		.pages-desktop, .pages-mobile, .pages-mobile-button {
                        font-size: 24px;
			letter-spacing: 1.25px;
			color: var(--font-header-footer);
                        transition: color var(--dark-trans);
                }

		.pages-mobile {
		        font-family: Giant;
			color: var(--font);
                        background-color: var(--drop);
                        text-align: right;
                        transition: background var(--dark-trans);
			z-index: -1;
                        margin: 0;
                        padding: 1em 12.5% 1em 12.5%;
                }

			.pages-hiking, .pages-cycling {
				border: 1px dashed black;
				background-color: var(--bg);
				margin: 0.25em 0 0.25em 0;
				padding: 0.25em 0.5em 0.25em 0;
			}

                        .pages-mobile a:link, .pages-mobile a:visited {
				color: var(--font);	
			}
                        
			.pages-desktop a:link, .pages-desktop a:visited,
                        .pages-mobile-button a:link, .pages-mobile-button a:visited {
				color: var(--font-header-footer);	
			}

                        .pages-desktop a:link, .pages-desktop a:visited,
                        .pages-mobile a:link, .pages-mobile a:visited,
                        .pages-mobile-button a:link, .pages-mobile-button a:visited {
                                text-decoration: none;
                                transition: color var(--link-trans);
                        }

                        .pages-desktop a:hover, .pages-dekstop a:active,
                        .pages-mobile a:hover, .pages-mobile a:active,
                        .pages-mobile-button a:hover, .pages-mobile-button a:active {
                                color: var(--font-hover);
                                text-decoration: none;
                                transition: color var(--link-trans);
                        }

                        .pages-desktop u, .pages-mobile u {
                                list-style-type: none;
                                text-decoration: none;
                                letter-spacing: 1px;
                                word-spacing: 1px;
                        }

                        .pages-desktop li:hover, .pages-mobile li:hover {
                                color: var(--font-hover);
                        }

                        @media only screen and (max-width: 1026px) {
                                .pages-desktop {
                                        display: none;
                                }
                        }

                        @media only screen and (min-width: 1026px) {
                                .pages-mobile, .pages-mobile-button {
                                        display: none;
                                }
                        }

.footer {
	font-family: Audi-Extended;
        font-size: 16px;
        text-align: center;
        color: var(--font-header-footer);
        background-image: var(--header-footer);
        transition: color var(--dark-trans), background var(--dark-trans);
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
        margin: 0;
        padding: 1.25em 12.5% 1.25em 12.5%;
}

	@media only screen and (max-width: 1026px) {
                .footer {
                        display: none;
                }
        }





/* Hiding Content */

.hidden {
        display: none;
}








/* Body */

.bodycage {
	padding: 0 17.5% 0 17.5%;
}

	@media only screen and (max-width: 1026px) {
        	.bodycage {
			padding: 0;
        	}
	}

	.body {
		font-family: Audi-Regular;
		font-size: 14px;
		color: var(--font);
		background-color: var(--fg);
		/*border-radius: 0.5em;*/
		/*box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);*/
		margin: 0.75em 0 0.75em 0;
		padding: 2.5em;
		transition: color var(--link-trans);
	}

		.body p {
			text-align: justify;
		}

		@media only screen and (max-width: 1026px) {
        	        .body {
				min-height: 100vh;
        	        }
        	}

		.body a:hover, .body a:active {
			color: var(--font-hover);
			cursor: pointer;
			transition: color var(--link-trans);
		}







/* Images */

.imgstd {
	width: 100%;
	max-width: 100%;
	background-color: var(--bg);
	border: 1px solid var(--font);
	border-radius: 0.25em;
	transition: background var(--dark-trans), border var(--dark-trans);
	margin: 0;
	padding: 0.25em;
}

.imgcage {
	width: 100%;
	margin: 1.25em auto 1.25em auto;
}

	.imgrow {
		display: flex;
		flex-wrap: wrap;
	}

	.imgrow > * {
		flex-shrink: 0;
		width: 100%;
		max-width: 100%;
	}

	.imgcol {
		padding: 0.25em;
	}

		@media (min-width: 768px) {
			.imgcol {
				flex: 1 0;
			}
		}

.imgtext-cont {
	background-image: url("./Photos/home-bg.jpg");
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 12.5% 12.5% 25% 12.5%;
}

	@media only screen and (max-width: 1026px) {
		.imgtext-cont {
			display: none;
		}
	}

	.imgtext-cont h1, .imgtext-cont p, .imgtext-buttons {
		margin: 1.25em 0 1.25em 0;
	}

	.imgtext-cont h1 {
		color: #FFFFFF;
		opacity: 0.8;
		border: 1px solid black;
	}

	.imgtext-cont p {
		font-family: Audi-Extended;
		text-align: justify;
    		text-align-last: center;
		color: #FFFFFF;
		line-height: 25px;
		opacity: 0.5;
		margin: 0;
		border: 1px solid black;
	}

	.imgtext-left {
		position: absolute;
		top: 7.5%;
		left: 17.5%;
		transform: translate(-50%, -50%);
	}

	.imgtext-top {
		margin: 0 0 25px 0;
	}

	.imgtext-center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.imgtext-buttons {
		border: 1px solid black;
	}

		.imgtext-button {
			font-family: Audi-Extended;
			font-size: 18px;
			color: rgba(255, 255, 255, 0.8);
			background: rgba(0, 0, 0, 0);
			border: 2px solid rgba(255, 255, 255, 0.8);
			margin: 0 0.25em 0 0.25em;
			padding: 10px;
			transition: color var(--link-trans), border var(--link-trans), background var(--link-trans);
		}

		.imgtext-button:hover {
			background: rgba(135, 206, 235, 0.8);
			border: 2px solid rgba(135, 206, 235, 0);
			cursor: pointer;
			transition: color var(--link-trans), border var(--link-trans), background var(--link-trans);
		}

	.imgtext-title {
	}

		.imgtext-title a {
			color: #FFFFFF;
			text-decoration: none;
			transition: color var(--link-trans);
		}

		.imgtext-title a:hover {
			color: var(--font-hover);
			transition: color var(--link-trans);
		}

/* Tables */

table {
	border-collapse: collapse;
	margin: 0 auto 0 auto;
}

	table u, table ul {
		list-style-type: none;
	}

	th {
		font-family: Audi-Extended;
		text-align: center;
		font-weight: normal;
		transition: border var(--dark-trans);
		padding: 0.25em 0.75em 0.25em 0.75em;
	}

	td {
		transition: border var(--dark-trans);
	}

	.data td {
		text-align: left;
		vertical-align: top;
		width: auto;
		padding: 0.25em 0.75em 0.25em 0.75em;
	}

		@media only screen and (max-width: 1026px) {
			.data {
				font-size: 0.5vw;
				width: 100%;
			}
		}




/* Drafting */

.burning {
	font-family: Giant;
	font-size: 48px;
	font-weight: normal;
	letter-spacing: 5px;
	color: #FFFFFF;
	text-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.burning-pic {
	max-width: 500px;
	-webkit-filter: drop-shadow(0 0 40px rgba(0, 0, 0, 1));
  	/*filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));*/
	margin: 0;
	padding: 0;
	border: 1px solid black;
}

.profile-pic {
	max-width: 125px;
	border-radius: 5em;
	margin: 0 1.75em 0 1.75em;
}

.elements-profile {
	font-family: Audi-Extended;
        font-size: 18px;
	word-spacing: 10px;
	color: var(--font-header-footer);
	border-top: 2px solid var(--font);
	padding: 0.5em;
	transition: color var(--dark-trans);
}
			
	.elements-profile a:link, .elements-profile a:visited {
		color: var(--font);	
                text-decoration: none;
		padding: 0 0 0.5em 0;
                transition: color var(--link-trans);
	}

        .elements-profile a:hover, .elements-profile a:active {
                color: var(--font-hover);
                text-decoration: none;
		border-bottom: 2px solid var(--font-hover);
                transition: color var(--link-trans), border var(--link-trans);
        }

        .elements-profile li:hover {
                color: var(--font-hover);
        }

	.element {
		background-color: var(--bg);
		margin: 0;
		padding: 0.5em;
	}

		.sub-element {
			background-color: var(--fg);
			margin: 0;
			padding: 0.5em;
		}

			.sub-sub-element {
				/*border: 1px dashed var(--font);*/
				background: var(--fg);
				margin: 0;
				padding: 0 2em 0 2em;
			}

.weatherrow {
	display: flex;
	flex-wrap: wrap;
}

.weatherrow > * {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
}

	.weathercol {
		text-align: left;
		background-color: var(--bg);
		margin: 0.5em 0.25em 0.5em 0.25em;
		padding: 0.5em;
	}

		@media (min-width: 768px) {
			.weathercol {
				flex: 2 0;
			}
		}

	.weather-std, .weather-atm, .weather-dyt {
		background-color: var(--fg);
		margin: 0.5em 0 0.5em 0;
		padding: 0.125em 0.75em 0.125em 0.75em;
	}

	.weather-std {
		padding: 0.125em 0 0.125em 0;
	}

		.hr {
			font-size: 12px;
		}



/*.fas {
	color: grey;
}*/



/* Conquest Map */

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
}

        @media only screen and (max-width: 1026px) {
        	#map {
			width: 100%;
			height: 100%;
                }
        }

#scope {
	background-color: white;
	font-family: Audi-Regular;
	text-align: center;
}	

.options-container {
	z-index: 1;
	margin: 0.75em;
}

	#menu, #optionsOpt {
		font-size: 18px;
	        background: var(--fg);
		border-radius: 0.25em;
	        position: absolute;
		height: 25px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
	}

	#menu {
		font-family: Audi-Extended;
		margin: 0 0 0 3em;
		padding: 10px;
	}

		#menu input[type="radio"] {
        		margin-top: -1px;
        		vertical-align: middle;
    		}

    		#menu label {
    			margin-right: 8px;
    		}

	#optionsOpt {
		text-align: center;
		vertical-align: center;
		margin: 0 3em 0 0;
		padding: 12.5px 12.5px 7.5px 13.5px;
	}

		#optionsOpt a:hover {
			cursor: pointer;
		}

#options {
	font-family: Audi-Regular;
	text-align: left;
	background-color: var(--fg);
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s; 
}	

	#options #optionsOptClose {
		font-size: 36px;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 25px;
		margin: 0 0 0 50px;
	}

	.optionsCont {
		margin: 1.25em;
		border: 1px solid black;
	}

	#options button {
		color: var(--font);
		border: 2px solid var(--font);
		border-radius: 0.25em;
		background: #FFFFFF;
		height: 30px;
		width: 30px;
		transition: color var(--link-trans);
	}

	#options button:hover {
		cursor: pointer;
		color: var(--font-hover);
		border: 2px solid var(--font-hover);
		transition: color var(--link-trans);
	}

		.optionsRow {
			text-align: center;
			margin: 0.5em 0 0.5em 0;
		}

		.optionsCol {
			text-align: center;
			display: inline-block;
		}

		.optionsLabel {
			font-size: 14px;
			display: block;
		}
